<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExampleOnStandardActionForward</display-name>
  <welcome-file-list>
    <welcome-file>forward.html</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>SalaryServlet</servlet-name>
    <servlet-class>SalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryServlet</servlet-name>
    <url-pattern>/srv1</url-pattern>
  </servlet-mapping>
</web-app>